USE [SISACAD]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[CODIGO_CARRERA] [nvarchar](255) NULL,
	[tipoDocumentoId] [nvarchar](255) NULL,
	[numeroIdentificacion] [varchar](255) NOT NULL,
	[N_ACTA_GRADO] [nvarchar](255) NULL,
	[primerApellido] [nvarchar](255) NULL,
	[segundoApellido] [nvarchar](255) NULL,
	[primerNombre] [nvarchar](255) NULL,
	[segundoNombre] [nvarchar](255) NULL,
	[HORARIO] [nvarchar](255) NULL,
	[WON_RES] [float] NULL,
	[WON_ERR] [float] NULL,
	[WON_DIAG] [nvarchar](255) NULL,
	[PERIODO_ACADEMICO_NOMBRE] [nvarchar](255) NULL,
	[SEMESTRE_EGRESAMIENTO] [nvarchar](255) NULL,
	[FECHA_MATRICULA] [nvarchar](255) NULL,
	[FECHA_INICIO_ESTUDIOS] [datetime] NULL,
	[JORNADA] [nvarchar](255) NULL,
	[GENERO] [nvarchar](255) NULL,
	[ETNIA] [nvarchar](255) NULL,
	[PROVINCIA_NACIMIENTO] [nvarchar](255) NULL,
	[PROV_NAC_NUMERO] [float] NULL,
	[CANTON_NACIMIENTO] [nvarchar](255) NULL,
	[cantonResidenciaId] [nvarchar](255) NULL,
	[PARROQUIA_NACIMIENTO] [nvarchar](255) NULL,
	[PAR_NAC_NUMERO] [nvarchar](255) NULL,
	[NACIONALIDAD] [nvarchar](255) NULL,
	[PAIS DE RESIDENCIA] [nvarchar](255) NULL,
	[paisResidenciaId] [nvarchar](255) NULL,
	[FECHA_NACIMIENTO] [datetime] NULL,
	[NUM_MATRICULA] [float] NULL,
	[PERIODO_LECTIVO] [nvarchar](255) NULL,
	[TELEFONO] [nvarchar](255) NULL,
	[CELULAR] [nvarchar](255) NULL,
	[DOMICILIO] [nvarchar](255) NULL,
	[COLEGIO] [nvarchar](255) NULL,
	[ESPECIALIDAD] [nvarchar](255) NULL,
	[UBICACION_COLEGIO] [nvarchar](255) NULL,
	[INSTITUCION ESTUD_PREVIOS] [nvarchar](255) NULL,
	[RECONO_ANIOS_CREDITOS] [nvarchar](255) NULL,
	[CONV/REVAL] [nvarchar](255) NULL,
	[CARRERA ESTUD_PREVIOS] [nvarchar](255) NULL,
	[FECHA_REFRENDACION] [nvarchar](19) NULL,
	[N_REFRENDACION] [nvarchar](255) NULL,
	[ANIO_GRADUACION] [nvarchar](255) NULL,
	[TRABAJO] [nvarchar](255) NULL,
	[DIR_TRABAJO] [nvarchar](255) NULL,
	[ESTADO_CIVIL] [nvarchar](255) NULL,
	[CORREO_ELECTRONICO] [nvarchar](max) NULL,
	[numeroCelular] [nvarchar](255) NULL,
	[ESTADO_ACADEMICO] [nvarchar](255) NULL,
	[FECHA RETIRO] [nvarchar](255) NULL,
	[CLAVE] [nvarchar](255) NULL,
	[ESTADO_FINANCIERO] [nvarchar](255) NULL,
	[VALOR BECA] [float] NULL,
	[DISCAPACIDAD] [nvarchar](255) NULL,
	[PORCENTAJE] [float] NULL,
	[N_CONADIS] [nvarchar](255) NULL,
	[sexoId] [nvarchar](255) NULL,
	[etniaId] [nvarchar](255) NULL,
	[fechaNacimiento] [datetime] NULL,
	[paisNacionalidadId] [nvarchar](255) NULL,
	[provinciaResidenciaId] [nvarchar](255) NULL,
	[tipoColegioId] [nvarchar](255) NULL,
	[fechaInicioCarrera] [datetime] NULL,
	[haPerdidoLaGratuidad] [nvarchar](255) NULL,
	[haRealizadoPracticasPreprofesionales] [nvarchar](255) NULL,
	[nroHorasPracticasPreprofesionalesPorPeriodo] [float] NULL,
	[entornoInstitucionalPracticasProfesionales] [nvarchar](255) NULL,
	[sectorEconomicoPracticaProfesional] [nvarchar](255) NULL,
	[tipoBecaId] [nvarchar](255) NULL,
	[primeraRazonBecaId] [nvarchar](255) NULL,
	[segundaRazonBecaId] [nvarchar](255) NULL,
	[terceraRazonBecaid] [nvarchar](255) NULL,
	[cuartaRazonBecaId] [nvarchar](255) NULL,
	[quintaRazonBecaId] [nvarchar](255) NULL,
	[sextaRazonBecaId] [nvarchar](255) NULL,
	[montoBeca] [float] NULL,
	[porcientoBecaCoberturaArancel] [float] NULL,
	[porcientoBecaCoberturaManuntencion] [float] NULL,
	[financiamientoBeca] [nvarchar](255) NULL,
	[montoAyudaEconomica] [float] NULL,
	[montoCreditoEducativo] [float] NULL,
	[participaEnProyectoVinculacionSociedad] [nvarchar](255) NULL,
	[tipoAlcanceProyectoVinculacionId] [nvarchar](255) NULL,
	[nivelFormacionPadre] [nvarchar](255) NULL,
	[nivelFormacionMadre] [nvarchar](255) NULL,
	[ingresoTotalHogar] [float] NULL,
	[cantidadMiembrosHogar] [float] NULL,
	[FECHA_EGRESAMIENTO] [nvarchar](255) NULL,
	[FECHA_CONVALIDACION] [datetime] NULL,
	[TIENE_DISCAPACIDAD] [nvarchar](5) NULL,
	[PUEBLO_NAC] [nvarchar](100) NULL,
	[TIPO_SANGREID] [nvarchar](5) NULL,
	[modalidadCarrera] [nvarchar](5) NULL,
	[tipoMatriculaId] [nvarchar](5) NULL,
	[nivelAcademicoQueCursa] [nvarchar](5) NULL,
	[duracionPeriodoAcademico] [nvarchar](5) NULL,
	[haRepetidoAlMenosUnaMateria] [nvarchar](5) NULL,
	[paraleloId] [nvarchar](5) NULL,
	[recibePensionDiferenciada] [nvarchar](5) NULL,
	[estudianteocupacionId] [nvarchar](5) NULL,
	[bonodesarrolloId] [nvarchar](5) NULL,
	[ingresosestudianteId] [nvarchar](5) NULL,
	[estadoacademico] [nvarchar](5) NULL,
	[estadodepuracion] [varchar](50) NULL,
	[observaciondepuracion] [varchar](max) NULL,
	[fotoEstudiante] [image] NULL,
	[versionTarifario] [varchar](20) NULL,
	[fechaActualizacionDatos] [datetime] NULL,
	[usuarioTeams] [bit] NULL,
	[CarnetEstudiantil] [varchar](500) NULL,
 CONSTRAINT [PK__Estudian__0FF4C91C8599187C] PRIMARY KEY CLUSTERED 
(
	[numeroIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINDepositosEstudiantes]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINDepositosEstudiantes](
	[depId] [int] NOT NULL,
	[numeroIdentificacion] [varchar](20) NULL,
	[depBancoEstudiante] [varchar](200) NULL,
	[depBancoDestino] [varchar](200) NULL,
	[depCuentaDestino] [varchar](200) NULL,
	[depFechaPago] [datetime] NULL,
	[depDocumento] [varchar](100) NULL,
	[depImagenComprobante] [image] NULL,
	[depValor] [decimal](18, 2) NULL,
	[depUsuario] [varchar](20) NULL,
	[depFechaRegistro] [datetime] NULL,
	[depEstadoDeposito] [varchar](50) NULL,
	[depObservaciones] [varchar](max) NULL,
	[depResolucion] [varchar](max) NULL,
	[depCodigoBancoPichincha] [nvarchar](50) NULL,
	[depCodUsuarioAprobacion] [varchar](20) NULL,
	[depFechaAprobacion] [datetime] NULL,
	[depEstadoRechazo] [varchar](200) NULL,
 CONSTRAINT [PK_FINDepositosEstudiantes] PRIMARY KEY CLUSTERED 
(
	[depId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINDepositosEstudiantesDetalles]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINDepositosEstudiantesDetalles](
	[depId] [int] NULL,
	[dpdCodigoEstadoFinancieroDetalle] [int] NULL,
	[dpdCodigoProducto] [varchar](100) NULL,
	[dpdValorProducto] [decimal](18, 2) NULL,
	[dpdValorPagado] [decimal](18, 2) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINEstadoFinancieroEstudiante]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINEstadoFinancieroEstudiante](
	[efiCodigoEstadoFinanciero] [int] NOT NULL,
	[efiIdentificacionEstudiante] [varchar](20) NULL,
	[efiIdentificacionRepresentante] [varchar](20) NULL,
	[efiNombreRepresentante] [varchar](200) NULL,
	[efiFechaRegistro] [datetime] NULL,
	[efiEstado] [bit] NULL,
 CONSTRAINT [PK_FINEstadoFinancieroEstudiante] PRIMARY KEY CLUSTERED 
(
	[efiCodigoEstadoFinanciero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINEstadoFinancieroEstudianteDetalle]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINEstadoFinancieroEstudianteDetalle](
	[efdCodigoEstadoFinancieroDetalle] [bigint] NOT NULL,
	[efiCodigoEstadoFinanciero] [int] NULL,
	[efdNumeroCuota] [int] NULL,
	[efdCodigoProducto] [varchar](50) NULL,
	[efdFechaVencimiento] [date] NULL,
	[efdValorProducto] [decimal](18, 2) NULL,
	[efdValorPagado] [decimal](18, 2) NULL,
	[efdValorRecargoMora] [decimal](18, 2) NULL,
	[efdValorBeca] [decimal](18, 2) NULL,
	[efdPorcentajeBeca] [decimal](18, 2) NULL,
	[efdValorDescuentoAdicional] [decimal](18, 2) NULL,
	[efdTotal] [decimal](18, 2) NULL,
	[efdTotalEnviado] [decimal](18, 2) NULL,
	[efdFechaPago] [datetime] NULL,
	[efdCodigoEstadoDeuda] [int] NULL,
	[efdArchivoEnviado] [varchar](200) NULL,
	[efdArchivoEnviadoFecha] [datetime] NULL,
	[efdArchivoRecibido] [varchar](200) NULL,
	[efdArchivoRecibidoFecha] [datetime] NULL,
	[efdArchivoContable] [varchar](200) NULL,
	[efdArchivoContableFecha] [datetime] NULL,
	[efdNumeroFactura] [varchar](150) NULL,
	[efdPrioridad] [int] NULL,
	[efdFechaServicio] [date] NULL,
	[codProvRev] [varchar](100) NULL,
	[tipoCentroCosto] [varchar](100) NULL,
	[valorProvision] [decimal](18, 2) NULL,
	[valorReversado] [decimal](18, 2) NULL,
	[nroOrden] [int] NULL,
	[observacion] [varchar](800) NULL,
	[EfdSucursal] [varchar](50) NULL,
	[EfdPeriodoAcademico] [varchar](100) NULL,
	[EfdCarreraEstudiante] [varchar](100) NULL,
 CONSTRAINT [PK_FINEstadoFinancieroEstudianteDetalle] PRIMARY KEY CLUSTERED 
(
	[efdCodigoEstadoFinancieroDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINTransaccion]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINTransaccion](
	[NumeroFactura] [varchar](255) NOT NULL,
	[RucRepresentante] [varchar](255) NULL,
	[FechaTransaccion] [date] NULL,
	[FechaRegistro] [datetime] NULL,
	[ContadoCredito] [int] NULL,
	[DiasCredito] [int] NULL,
	[Autfactura] [int] NULL,
	[serieFactura] [varchar](50) NOT NULL,
	[IdFormaPago] [int] NULL,
	[IdProyecto] [varchar](50) NULL,
	[Notas] [varchar](1000) NULL,
	[IdComprobante] [int] NULL,
	[NumeroDocumento] [varchar](200) NULL,
	[IdentificacionEstudiante] [varchar](255) NULL,
	[efiCodigoEstadoFinanciero] [int] NULL,
	[estadoTransaccion] [varchar](200) NULL,
	[origenTransaccion] [varchar](50) NULL,
	[usuFacturador] [varchar](200) NULL,
	[IdCierreCaja] [int] NULL,
	[valorTotal] [decimal](18, 2) NULL,
	[TipoTarjeta] [varchar](200) NULL,
	[LoteTarjeta] [varchar](200) NULL,
	[ReferenciaTarjeta] [varchar](200) NULL,
	[MarcaTarjeta] [varchar](200) NULL,
	[NumComprobante] [varchar](255) NULL,
	[PagoNotaCredito] [varchar](200) NULL,
 CONSTRAINT [PK_FINTransaccionSerie] PRIMARY KEY CLUSTERED 
(
	[NumeroFactura] ASC,
	[serieFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FINTransaccionDetalle]    Script Date: 16/8/2024 14:21:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FINTransaccionDetalle](
	[numeroTransaccionDetalle] [bigint] NULL,
	[NumeroFactura] [varchar](255) NULL,
	[codigoProducto] [varchar](50) NULL,
	[precioProducto] [decimal](18, 2) NULL,
	[cantidad] [int] NULL,
	[impuestoProducto] [decimal](18, 2) NULL,
	[descuentoProducto] [decimal](18, 2) NULL,
	[notas] [varchar](1000) NULL,
	[efdCodigoEstadoFinancieroDetalle] [bigint] NULL,
	[estadoTransaccionDetalle] [varchar](200) NULL,
	[Ciudad] [varchar](200) NULL,
	[Modalidad] [varchar](200) NULL,
	[Carrera] [varchar](200) NULL,
	[serieFactura] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[FINDepositosEstudiantesDetalles] ([depId], [dpdCodigoEstadoFinancieroDetalle], [dpdCodigoProducto], [dpdValorProducto], [dpdValorPagado]) VALUES (2578, 109092, N'PENS-NOV-INF-N1', CAST(90.00 AS Decimal(18, 2)), CAST(20.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[FINDepositosEstudiantesDetalles] ([depId], [dpdCodigoEstadoFinancieroDetalle], [dpdCodigoProducto], [dpdValorProducto], [dpdValorPagado]) VALUES (6700, 144506, N'MATR-ABR-SEP-DSW-N1-P1', CAST(180.00 AS Decimal(18, 2)), CAST(90.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[FINDepositosEstudiantesDetalles] ([depId], [dpdCodigoEstadoFinancieroDetalle], [dpdCodigoProducto], [dpdValorProducto], [dpdValorPagado]) VALUES (6702, 144506, N'MATR-ABR-SEP-DSW-N1-P1', CAST(180.00 AS Decimal(18, 2)), CAST(80.50 AS Decimal(18, 2)))
GO
INSERT [dbo].[FINEstadoFinancieroEstudiante] ([efiCodigoEstadoFinanciero], [efiIdentificacionEstudiante], [efiIdentificacionRepresentante], [efiNombreRepresentante], [efiFechaRegistro], [efiEstado]) VALUES (5331, N'1752686871', N'1720592953', N'NOBOA PAZMIÑO MISHELL CAROLINA', CAST(N'2021-09-24 15:06:02.017' AS DateTime), 1)
GO
INSERT [dbo].[FINEstadoFinancieroEstudiante] ([efiCodigoEstadoFinanciero], [efiIdentificacionEstudiante], [efiIdentificacionRepresentante], [efiNombreRepresentante], [efiFechaRegistro], [efiEstado]) VALUES (7337, N'7777777788', N'1777777777', N'PRUEBA PRUEBA USUARIO USUARIO', CAST(N'2022-04-14 17:12:06.383' AS DateTime), 1)
GO
INSERT [dbo].[FINEstadoFinancieroEstudiante] ([efiCodigoEstadoFinanciero], [efiIdentificacionEstudiante], [efiIdentificacionRepresentante], [efiNombreRepresentante], [efiFechaRegistro], [efiEstado]) VALUES (8047, N'1314245869', N'1314245869', N'PONCE LUCAS ELVIS IVAN', CAST(N'2022-08-26 12:52:46.973' AS DateTime), 1)
GO
INSERT [dbo].[FINTransaccionDetalle] ([numeroTransaccionDetalle], [NumeroFactura], [codigoProducto], [precioProducto], [cantidad], [impuestoProducto], [descuentoProducto], [notas], [efdCodigoEstadoFinancieroDetalle], [estadoTransaccionDetalle], [Ciudad], [Modalidad], [Carrera], [serieFactura]) VALUES (66424, N'3089', N'SOL-JUS-ETC', CAST(2.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'2023', 210585, N'PAGADO', N'UIOSUR', N'HBP', N'RYC', N'002001')
GO
INSERT [dbo].[FINTransaccionDetalle] ([numeroTransaccionDetalle], [NumeroFactura], [codigoProducto], [precioProducto], [cantidad], [impuestoProducto], [descuentoProducto], [notas], [efdCodigoEstadoFinancieroDetalle], [estadoTransaccionDetalle], [Ciudad], [Modalidad], [Carrera], [serieFactura]) VALUES (67008, N'53898', N'SOL-JUS-ETC', CAST(3.00 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'2023', 211170, N'PAGADO', N'UIO', N'ONL', N'ADM', N'001002')
GO
INSERT [dbo].[FINTransaccionDetalle] ([numeroTransaccionDetalle], [NumeroFactura], [codigoProducto], [precioProducto], [cantidad], [impuestoProducto], [descuentoProducto], [notas], [efdCodigoEstadoFinancieroDetalle], [estadoTransaccionDetalle], [Ciudad], [Modalidad], [Carrera], [serieFactura]) VALUES (67327, N'3240', N'COL-ABR-SEP-RYC-N2-P6', CAST(77.67 AS Decimal(18, 2)), 1, CAST(0.00 AS Decimal(18, 2)), CAST(19.42 AS Decimal(18, 2)), N'2023', 186135, N'PAGADO', N'UIOSUR', N'HBP', N'RYC', N'002001')
GO
ALTER TABLE [dbo].[FINDepositosEstudiantesDetalles]  WITH CHECK ADD  CONSTRAINT [FK_FINDepositosEstudiantesDetalles_FINDepositosEstudiantes] FOREIGN KEY([depId])
REFERENCES [dbo].[FINDepositosEstudiantes] ([depId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FINDepositosEstudiantesDetalles] CHECK CONSTRAINT [FK_FINDepositosEstudiantesDetalles_FINDepositosEstudiantes]
GO
ALTER TABLE [dbo].[FINEstadoFinancieroEstudianteDetalle]  WITH CHECK ADD  CONSTRAINT [FINEstadoFinancieroEstudianteDetalle_FK] FOREIGN KEY([efiCodigoEstadoFinanciero])
REFERENCES [dbo].[FINEstadoFinancieroEstudiante] ([efiCodigoEstadoFinanciero])
GO
ALTER TABLE [dbo].[FINEstadoFinancieroEstudianteDetalle] CHECK CONSTRAINT [FINEstadoFinancieroEstudianteDetalle_FK]
GO
ALTER TABLE [dbo].[FINTransaccionDetalle]  WITH CHECK ADD  CONSTRAINT [FK__FINTransa__efdCo__63F9955D] FOREIGN KEY([efdCodigoEstadoFinancieroDetalle])
REFERENCES [dbo].[FINEstadoFinancieroEstudianteDetalle] ([efdCodigoEstadoFinancieroDetalle])
GO
ALTER TABLE [dbo].[FINTransaccionDetalle] CHECK CONSTRAINT [FK__FINTransa__efdCo__63F9955D]
GO
ALTER TABLE [dbo].[FINTransaccionDetalle]  WITH CHECK ADD  CONSTRAINT [FK__FINTransa__efdCo__6C8EDB5E] FOREIGN KEY([efdCodigoEstadoFinancieroDetalle])
REFERENCES [dbo].[FINEstadoFinancieroEstudianteDetalle] ([efdCodigoEstadoFinancieroDetalle])
GO
ALTER TABLE [dbo].[FINTransaccionDetalle] CHECK CONSTRAINT [FK__FINTransa__efdCo__6C8EDB5E]
GO
ALTER TABLE [dbo].[FINTransaccionDetalle]  WITH CHECK ADD  CONSTRAINT [FK_FinTransaccionDetalle_FinTransaccion] FOREIGN KEY([NumeroFactura], [serieFactura])
REFERENCES [dbo].[FINTransaccion] ([NumeroFactura], [serieFactura])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FINTransaccionDetalle] CHECK CONSTRAINT [FK_FinTransaccionDetalle_FinTransaccion]
GO
